<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Receipts</title>
    </head>
    <body>
    </body>
        <header>
            <nav>
                <ul>
                    <li>
                        <a href="{% url 'home' %}">Home</a>
                    </li>
                    <li>
                        <a href="{% url 'create_account' %}">Create Account</a>
                    </lI>
                </ul>
            </nav>
        </header>
        <main>
            <h1>Account's List</h1>
            <table>
                <tr>
                    <th>Name</th>
                    <th>Number</th>
                    <th>Number of Receipts</th>
                </tr>
                {% if user.is_authenticated %}
                {% for account in account_list %}
                <tr>
                    <td>
                        <a href="{% url 'edit_account' account.id %}">
                            {{account}}
                        </a>
                    </td>
                    <td>{{account.number}}</td>
                    <td>{{account.receipts.count}}</td>
                </tr>
                {% endfor %}
                {% endif %}
            </table>
        </main>
    </body>
</html>
